{% if session['logged_in'] %}
<html>
<head>
{% block css %}
      <link rel="stylesheet" type='text/css' href="/static/css/style.show.entries.css" />
      {% endblock %}
{% block script %}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="/static/js/bootstrap.js" type="text/javascript"</script>
      <script src="/static/js/bootstrap.min.js" type="text/javascript"</script>
      <script src="/static/js/main.js" type="text/javascript"></script>
      {% endblock %}
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
            socket.on('my response', function(msg) {
                $('#log').append('<p>Received #' + msg.count + ': ' + msg.data + '</p>');
            });
            $('form#emit').submit(function(event) {
                socket.emit('my event', {data: $('#emit_data').val()});
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('my broadcast event', {data: $(this).serialize()});
                return false;
            });
        });
    </script>
    </head>
    <body>
        <div id="header">


            <nav class="navbar navbar-default" role="navigation">
                <div class="wrapeer">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="sodsymbol">
    <img border="0" src="/static/images/s.png" alt="State of Debate" width="41" height="40">
</div>
    <!-- <a class="navbar-brand" href="#">Brand</a> -->
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <form class="navbar-form navbar-left" role="search">
      <div class="container">
    <div class="row">
           <div id="custom-search-input">
      <div class="input-group">
                                <input type="text" class="  search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            </div>

                        </div>
                    </div>
    </form>
      <ul class="nav navbar-nav navbar-right">
      <li class="friendrequestblue"><img border="0" src="/static/images/friendrequestblue.png" alt="State of Debate" width="27" height="27"></li>
      <li class="messageblue"><img border="0" src="/static/images/messageblue.png" alt="State of Debate" width="27" height="27"></li>
      <li class="worldisblue"><img border="0" src="/static/images/worldisblue.png" alt="State of Debate" width="27" height="27"></li>
      <li class="home"><a href="#">Home</a></li>
      <li class="username"><a href="#">U.N.</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img border="0" src="/static/images/wheeliedeal.png" alt="State of Debate" width="13" height="13"> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<!--





    </div>

</div> -->

</div>
          </div>





<div class=page>
  <h1>Debate List</h1>
  <div class=metanav>

    <a href="{{ url_for('users.createdebate') }}">Create A Debate</a>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
  {% block body %}{% endblock %}




{% for fuckyea in entriegard %}
<li>
{{ fuckyea.name }} {{ fuckyea.rating }}
</li>
{% endfor %}
<ul class=entries>
  {% for entry in entries %}
    <li><h2>
    	<a href="/updebate/{{ entry.did }}" style="text-decoration:none; color:orange;">&#11014;</a>{{ entry.rating }}<a href="/downdebate/{{ entry.did }}" style="text-decoration:none; color:orange;">&#11015;</a><a href="/debate/{{ entry.did }}">{{ entry.title }}</a></h2>{{ entry.text|safe }}

    	CREATED BY: {{ entry.name }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  {% endif %}

</div>
</body>
</html>

<body>
    <h1>Flask-SocketIO Test</h1>
    <h2>Send:</h2>
    <table>
        <tr>
            <td>
                <form id="emit" method='POST' action='#'>
                    <textarea name="emit_data" id="emit_data"></textarea>
                    <div><input type="submit" value="Emit"></div>
                </form>
            </td>
            <td>
    <form id="broadcast" method='POST' action='#'>
    {% for entry in entries %}
                <form id="broadcast" method='POST' action='#'>

                    <textarea name="broadcast_data" id="broadcast_data">{{ entry.did }}</textarea>

                    <div><input type="submit" value=&#11014; style="text-decoration:none; font-size:30px; background-color:transparent; color:orange; border: none"></div>
                </form>
    {% endfor %}

            </td>
            </tr>
        </table>

                <h2>Receive:</h2>
        <div id="log"></div>




        {% for entry in entries %}
    <form id="broadcast" method='POST' action='#'>
          <textarea name="broadcast_data" id="broadcast_data" value={{ entry.did }}>{{ entry.did }}</textarea>
          <div><input type="submit" value=&#11014; style="text-decoration:none; font-size:30px; background-color:transparent; color:orange; border: none"></div>

    </form>
        {% endfor %}





    {% for entry in entries %}
    <li><h2>
        <a href="/updebate/{{ entry.did }}" style="text-decoration:none; color:orange;">&#11014;</a>{{ entry.rating }}<a href="/downdebate/{{ entry.did }}" style="text-decoration:none; color:orange;">&#11015;</a><a href="/debate/{{ entry.did }}">{{ entry.title }}</a></h2>{{ entry.text|safe }}

        CREATED BY: {{ entry.name }}
    <li><em>Unbelievable. Cool entries here so far</em>
  {% endfor %}
</body>
</html>

