<!doctype html>
<title>State of Debate</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% if not session.logged_in %}

<div class=page>
	<h1><a href="{{ url_for('login') }}">Login</a></h1>
	<h1><a href="{{ url_for('createuser') }}">Create A Profile</a></h1>
    {% else %}
  <h1>Debate List</h1>
  <div class=metanav>
  
    <a href="{{ url_for('createdebate') }}">Create A Debate</a>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
{% endif %}