<title>State of Debate</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  {% for entry in entries %}  
      <h1>{{ entry.title }}</h1>
    {% endfor %}
  <div class=metanav>
    <a href="{{ url_for('show_entries') }}">back</a>
  </div>
 <ul class=entries> 
  {% for entry in entries %}
    <li>{{ entry.text|safe }}</li>
    <li><h2>{{ entry.sidea }}{{ entry.sideb }}</h2></li>
  {% endfor %}
  {% for argumentz in entrier %}
  {{ argumentz.argument }}
  {% endfor %}
  </ul>
{% for entry in entries %}
<form action="{{ url_for('add_argument') }}" method=post class=add-entry>
      <dl>
        <dt>Argument:
        <dd><textarea name=argument rows=5 cols=40></textarea>
        <input type=hidden name=did value={{ entry.did }}>  
        <dd><input type=submit value=Share>
      </dl>
    </form>
{% endfor %}